/* 💡 Configuration des styles du sélecteur de note */
:root {
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: 0.5em 1em;
  --gl-tooltip-size: 6px;
}

/* 🦊 Vos styles ici */

* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 15px;
}

body p {
  margin: 10px 0px;
}

.contenu {
  margin: 60px 17px 17px;
}

.header {
  display: flex;

}

h1 {
  font-size: 30px;
  font-weight: 600;
}

.cover-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cover {
  width: 180px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.307);
  margin-bottom: 10px;
}

.book-title {
  font-weight: bold;
  font-size: 19px;
  margin: 10px 0px;
}

.author {
  margin: 0px;
  font-size: 19px;
}

.buttons {
  margin: 10px 0px;
}

.button {
  text-align: left;
  margin: 10px 0px;
  color: white;
  background-color: #D7A060;
  border-radius: 7px;
  padding: 10px 20px;
  width: 230px;
}

.button:hover {
  background-color: white;
  color: #D7A060;
  border: 2px solid #D7A060;
}

.button p {
  margin: 0px;
}

.section-title {
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}

.section {
  margin-top: 30px;
}

.book-details {
  margin-top: 30px;
}

.book-details p {
  margin: 10px 0px;
}

.genre {
  background-color: #F6E8D8;
  padding: 3px 4px;
  border-radius: 3px;
  color: #D7A060;
  text-decoration: none;
}

.comment-box {
  display: flex;
}

.comment-box img {
  height: 50px;
  border-radius: 15px;
}